<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
     <li>
        <%= render @users %>
     </li>
  <%= will_paginate %>
<% @nav.each do |f| %>
 <h1> <%= f.inspect %></h1>
  <% end %>
</ul>